/*  ----------------------   Configuración general   ----------------------  */

/* SCSS RGB  dark palete
$blue-ncs: rgba(37, 137, 189, 1);
$cg-blue: rgba(24, 119, 149, 1);
$ming: rgba(56, 104, 106, 1);
$laurel-green: rgba(163, 180, 162, 1);
$bone: rgba(205, 198, 174, 1);
*/


/* SCSS RGB  light paletes
$dark-pastel-green: rgba(32, 191, 85, 1);
$blue-sapphire: rgba(11, 79, 108, 1);
$cyan-process: rgba(1, 186, 239, 1);
$ghost-white: rgba(251, 251, 255, 1);
$sonic-silver: rgba(117, 117, 117, 1);
*/



body {
    padding-left: 300px;
}

html
{
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 0 15px;
    background: #005380;
    color: white;
    list-style: none;
    z-index: 1;
}

li
{
    list-style: none;
}

/*  ----------------------   Termina la configuración general   ----------------------  */




/*  ----------------------   Configuración a 900px   ----------------------  */

@media screen and (max-width:900px) {

/*  ----------------------   Configuración general a 900px   ----------------------  */
    body {
        padding: 0px;
    }

    .show {
        margin-left: -300px;
        transition: all 0.5s;
    }

    #lenguajes-usados
{
    margin: auto;
}
/*  ----------------------   Termina la configuración general a 900px   ----------------------  */


/*  ----------------------   Colapso de la barra de navegación lateral   ----------------------  */
    #btn-show {
        position: fixed;
        font-size: 2.5em;
        margin-top: 30px;
        margin-left: 85%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
        color: #d17d00;
        border: 0px;
        outline: inherit;
    }



    .show-bar
    {
        margin-left: 0;
    }
/*  ----------------------   Termina el colapso de la barra de navegación lateral   ----------------------  */
}
/*  ----------------------   Termina la configuración general a 900px   ----------------------  */




/**  ----------------------   Perfil   ----------------------  **/
#perfil {
    display: block;
}

.img-perfil {
    width: 200px;
    height: 200px;
    background-image: url(../img/IMG_20200308_143056.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 10%;
    border: 10px solid #d17d00;
}

.text-light {
    text-align: center;
    margin-top: 5%;
    font-size: 1.9em;
}

/**  ----------------------   Social   ----------------------  **/
#contenedor-social {
    padding: 0;
}


.link-social {
    margin: auto;
}


.link-social .fab {
    font-size: 40px;
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    transition: .2s;
}

.link-social .fab:hover {
    font-size: 40px;
    color: #d17d00;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.my-4 {
    height: 2px;
    background-color: white !important;
}

/**  ----------------------   End Social   ----------------------  **/
/**  ----------------------   End Profile   ----------------------  **/

/**  ----------------------   Link sections   ----------------------  **/
.menu-container
{
    padding: 0px;
}
.menu-container:hover ul li a
{
    color: rgba(242, 241, 241,.3);

}

.nav-link {
    color: #ffffff;
    padding-top: 15px;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    transition: .2s;
}

.nav-link i
{
    padding-left: 10px;
}
.menu-container ul .nav-link:hover{
    color: #ebab4d;
    padding-left: 20px;
    transform: scale(1.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    transition: .2s;
}


/**  ----------------------   End link sections   ----------------------  **/


/**  ----------------------   End Navbar   ----------------------  **/



/**  ----------------------   Sección inicio   ----------------------  **/
#inicio {
    position: relative;
    height: 100vh;
}

.contenedor-inicio {
    width: 100%;
    height: 100vh;
    background-image: url(../img/andrew-neel-TTPMpLl_2lc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
}

.inicio {
    width: 550px;
    margin-top: 10%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#titulo-inicio {
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

#yo-txt {
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;
    width: 650px;
}

#inicio-tipo {
    color: #ffffff;
}

/**  ----------------------   Termina la sección inicio   ----------------------  **/



/**  ----------------------   Sección habilidades   ----------------------  **/
#habilidades-body
{
    margin: 0;
    padding: 10px 0px;
    background-color: rgba(240, 240, 255, 1);
}



.jumbotron {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #005380;
}

.jumbotron h2 {
    color: #ebab4d;
}

.jumbotron h3 {
    color: #ffffff;
}


.breadcrumb {
    background-color: #005380;
    margin: 10px;
}

.breadcrumb-item {
    color: #ffffff !important;
    font-size: 2em;
}

/**  ----------------------   Habilidades duras   ----------------------  **/
#list-dur
{
    margin: 40px 0px;
}


.hduras
{
    width: 49%;
    padding: 2%;
    display: inline-block;
    font-size: 3em;
    margin: auto;
}




.fa-html5
{
    margin: 0 10px;
    color: #d17d00;
}

.fa-css3
{
    margin: 0 10px;
    color: #00A7FF;
}

.fa-js-square
{
    margin: 0 10px;
    color: #b9a400;
}

.fa-java
{
    margin: 0 10px;
    color: #0085CC;
}

.fa-php
{
    margin: 0 10px;
    color: #5d3ec3;
}

.fa-database
{
    margin: 0 10px;
    color: #525252;
}

.line-sqlite
{
    display: inline-flex;
}
.sqlite
{
    margin: 0 10px;
    color: #1887e2;
}
.sqliteicon
{
    background-image: url(../img/Sqlite-square.icon);
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 55px;
    border: 0px solid white;
}

.fa-bootstrap
{
    margin: 0 10px;
    color: #563d7c;
}

.line-git
{
    display: inline-flex;
}
.git
{
    margin: 0 10px;
    color: #f1502f;
}
.giticon
{
    background-image: url(../img/git.ico);
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 55px;
    border: 0px solid white;
}

.fa-github-square
{
    margin: 0 10px;
    color: darkslategrey;
}
/**  ----------------------   Terminan las habilidades duras   ----------------------  **/


/**  ----------------------   Habilidades blandas   ----------------------  **/
#list-bland
{
    margin: 40px 0;
}

.hblandas
{
    width: 49%;
    font-size: 2em;
    color: #d17d00;
    display: inline-block;
}

#lenguajes .card
{
    display: inline-block;
}

/**  ----------------------   Terminan las habilidades blandas   ----------------------  **/
/**  ----------------------   Termina la sección habilidades   ----------------------  **/



/**  ----------------------   Sección acerca de   ----------------------  **/

#acerca-body
{
    margin: 0px;
    padding: 10px 0px;
    height: 100hv;
    background-image: url(../img/andrew-neel-cckf4TsHAuw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#presentacion
{
    width: 95%;
    margin-top: 3%;
    padding: 1% 2%;
    text-align: justify;
    color: #ffffff;
    background-color: rgba(0, 0, 0,.6);
    border-radius: 5px;
}

#titulo-pres
{
    font-size: 2em;
    margin-bottom: 20px;
}

#presentacion-tecnologia
{
    font-size: 1.3em;
}

#del-sitio
{
    padding-top: 4%;
}

#acerca-botones .btn
{
    width: 30%;
    height: 60px;
    margin: 0 auto;
    font-size: 1.3em;
    display: inline-block;
    background-color: #005380;
    border: 0;
}

#acerca-botones .btn:hover
{
    background-color: #0085CC;
}

#lenguajes-usados
{
    margin-top: 0px;
}

.recursos
{
    color: #ffffff;
    background-color: rgba(0, 0, 0,.6);
}

.recursos h3
{
    font-size: 1.5em;
}

#tecnologias-usadas
{
    margin-top: 2%;
    width: 49%;
    display: inline-block;
}

#tecnologia-btn .fab
{
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
}

#tecnologia-btn .fa-html5
{
    font-size: 3em;
    border: 0;
}


#tecnologia-btn .fa-css3
{
    font-size: 3em;
    border: 0;
}

#tecnologia-btn .fa-js-square
{
    font-size: 3em;
    border: 0;
}

#tecnologia-btn .fa-bootstrap
{
    font-size: 3em;
    border: 0;
}
.descripcion-tecnologia
{
    color: #c4c4c4;
    background-color: rgba(0,0,0,0.0);
    border: 0;
}


#caja-creditos-img
{
    margin-top: 2%;
    background-color: rgba(0,0,0,0);
    color: #525252;
}

#boton-uns a
{
    width: 100%;
    margin: 5px;
}


#boton-fawesome a
{
    width: 100%;
    margin: 5px;
}
/**  ----------------------   Termina la sección acerca de   ----------------------  **/



/**  ----------------------   Sección portafolio   ----------------------  **/

#portafolio-body
{
    margin: 0px;
    padding: 10px 0px;
    background-color: rgba(240, 240, 255, 1);
}

.card
{
    margin: 2% auto;

}

.carousel, .carousel-inner > .item > img {
  width: 800px;
}
/**  ----------------------   Termina la sección portafolio   ----------------------  **/


/**  ----------------------   Sección contacto   ----------------------  **/
#contacto-body
{
    margin: 0px;
    padding: 10px 0px;
    height: 100hv;
    background-image: url(../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formulario-email
{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-label
{
    width: 200px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 500;
    color: #ffce87;

}

#message-box textarea
{
    height: 50px;
}
/**  ----------------------   Termina la sección contacto   ----------------------  **/
